<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scene Index - A Place That Does Not Exist</title>
  </head>
  <body>
      <h2> Scene Index - A Place That Does Not Exist</h2>
      <br />
      <ul>
        <% @scenes_by_arc.each do |arc, scenes_array| %>
          <li><h4>Arc <%= arc.arc_number %></h4></li>
          <p>(<%= arc.title %>)</p>
            <% scenes_array.each do |scene| %>
              <p><%= scene.display_number %><a href ="/scenes/<%= scene.id %>"><%= scene.name %></a></p>
            <% end %>
            <br />
        <% end %>
      </ul>
  </body>
</html>
